@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

:root {
    body {
        overflow: auto;
        padding: 0 !important;
    }
    .app-bar {
        font-family: Roboto;

        img,
        mdui-top-app-bar-title {
            opacity: 0;
        }
    }
    .content {
        padding-top: 64px;
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            // flex-direction: column;
            img {
                position: fixed;
                bottom: -320px;
                width: 150px;
                z-index: 114514;
            }
            h1 {
                z-index: 114514;
                white-space: nowrap;
                font-size: 4em;
                font-family: Roboto;
                opacity: 0;
                position: fixed;
                font-weight: normal;
                margin: 0;

                * {
                    background-image: linear-gradient(to bottom, #ad6eca, #3b91d8);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    filter: saturate(130%) brightness(1.1);
                    position: relative;
                }
                .hide {
                    -webkit-text-fill-color: unset;
                    color: darkgray;
                }
            }
        }

        .page1 {
            opacity: 0;
            position: fixed;
            bottom: -100%;
            width: 100%;
            height: 100%;
            padding: 30px;
            h1 {
                font-size: 4em;
                margin-bottom: 60px;
            }
        }
    }
}

@font-face {
    font-family: Roboto;
    src: url("/Roboto-VariableFont_wdth\,wght.ttf");
}
